.container{
    width: 100%;
    padding: 1px;
    margin: 0px;
}
.front{
    background-image: url(landing.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
}
.text{
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px grey;
    font-size: medium;
    font-family: serif;
}
#logo{
    text-align: center;
}
#range{
    display: flex;
    padding: 2px;
    font-weight: 900;
    border: 10px hidden ;
    width: 100%;
    height: 150px;
}
#class{
    font-family: sans;
    background-color: #f15a29;
    height: 150px;
    width: 25%;
}
#htime{
    background-color: white;
    padding: 30px;
    margin: 0px;
    border: 0px;
    color: lightslategray;
    font-family: fantasy;
}
.ptime{
    background-color: #f15a29;
    padding: 2px;
    color: white;
    font-family: fantasy;
}
#one{
    background-image: url(breakfast.jpg);
    width: 25%;
   height: 150px;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   display: flex;
   color: white;
   font-size: 23px;
   font-style: italic;
}
#two{
    background-image: url(lunch.jpg);
    width: 25%;
    height: 150px;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-style: italic;
    color: white;
}
#three{
    background-image: url(dinner2.jpg);
    width: 25%;
    height: 150px;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-style: italic;
    color: white;
}
#container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.image> ul li{
    list-style: none;
    box-shadow: 3px 3px 5px grey;
    border: 2px hidden #f15a29;
}
.word{
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
}
#bed{
    background-color: #fff;
    color: #f15a29;
    font-size: 15px;
    border-radius: 4px;
    border-color: #f15a29;
    width: 200px;
}
#word{
    align-items:flex-start;
    justify-content: right;
    padding-right: 20px;
    font-size: large;
    padding-bottom: 20px;
}
#soda{
    float: right;
    box-shadow: 3px 2px 5px grey;
}
#wine{
    float: right;
    box-shadow: 2px 3px 5px grey;
}
 #Bg{
     background-image: url(foodsBg.jpg);
     width: 100%;
     height: 400px;
     border: 3px solid white;
 }
nav>ul>li{
    color: black;
    list-style: none;
    display: inline-flex;
    padding: 18px;
    align-items: center;
    text-align: center;
    background-color: white;
 }
 .soda{
     text-align: center;
     align-items: center;
     flex-direction: row;
     font-size: large;
     display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 3px;
 }
#submenu{
    display: flex;
    list-style: none;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
h4{
    float: right;
    text-align: center;
    color: white;
}
.custom{
    color:black;
    font-size: 15px;
    font-family: serif;
}
#happy{
    text-align: center;
    float: left;
    align-items: center;
}
.bout{
    text-align: center;
    align-items: center;
}
#sub{
    background-image: url(subscribe.jpg);
    margin-top: 0 auto;
    display: flex;
    width: 100%;
    height: 250px;
}
#head{
    align-items: center;
    justify-content: center;
    color: white;
}
#email{
    height: 50px;
    width: 150px;
    display: inline-flex;
    align-self: center;
}
.butt{
    height: 50px;
    width: 150px;
    align-self: center;
    background-color: tomato;
}
